[Unit]
Description=My NPM Service
Requires=cloud-init.target
After=cloud-init.target

[Service]
User=csye6225
EnvironmentFile=/etc/environment
WorkingDirectory=/home/admin/webapp
ExecStart=/usr/bin/node /home/admin/webapp/index.js
Type=simple
Restart=always


[Install]
WantedBy=cloud-init.target


